{% extends 'account/base_account.html' %} {% load i18n %} {% block account_title
%}{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password"
%}{% endif %}{% endblock %} {% block account_content %} {% if token_fail %} {%
url 'account_reset_password' as passwd_reset_url %}
<p>
  {% blocktrans %}The password reset link was invalid, possibly because it has
  already been used. Please request a
  <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
</p>
{% else %}
<form method="POST" action="{{ action_url }}">
  {% csrf_token %} {{ form.as_p }}
  <button
    class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mt-4"
    type="submit"
  >
    {% trans "Change Password" %}
  </button>
</form>
{% endif %} {% endblock %}
